<div class="user">
    <h2>{{user.name}}</h2>
    {{error}}
    <img ng-src="{{user.avatar_url}}" alt="{{user.name}}">
</div>

<div class="table-sort">

</div>







<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Repositories</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>
                            <label 
                                ng-model="repoSortOrder"
                                class="btn btn-default"  
                                btn-radio="'Name'" 
                                uncheckable>
                                    Name
                            </label>
                        </th>
                        <th><label 
                                ng-model="repoSortOrder"
                                class="btn btn-default"  
                                btn-radio="'Stars'" 
                                uncheckable>
                                    Stars
                            </label></th>
                        <th><label 
                                ng-model="repoSortOrder"
                                class="btn btn-default"  
                                btn-radio="'Language'" 
                                uncheckable>
                                    Language
                            </label></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
                        <td><a href="#/repo/{{user.login}}/{{repo.name}}">{{repo.name}}</a></td>
                        <td>{{repo.stargazers_count | number}}</td>
                        <td>{{repo.language}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Followers</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li ng-repeat="follower in followers">{{follower.login}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>




<p class="meta">
    <a href="#/main">Back to Search</a>
    {{error}}
</p>