<div ng-show="error" class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
</div>

<div class="row">
    <div class="col-xs-6 col-sm-1">   
        <img ng-src="{{user.avatar_url}}" alt="{{user.name}}" class="img-rounded img-responsive">
    </div>
    <div class="col-xs-6 col-sm-11">
        <h2>{{user.login}} <small><a href="{{user.html_url}}" target="_blank">on github</a></small></h2> 
    </div>
</div>

<hr>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Repositories <span class="badge">{{public_repos}}</span></h3>
            </div>
            <div class="panel-body short">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>
                            <label 
                                ng-model="repoSortOrder"
                                class="btn btn-default"  
                                btn-radio="'Name'" 
                                uncheckable>
                                    Name
                            </label>
                        </th>
                        <th><label 
                                ng-model="repoSortOrder"
                                class="btn btn-default"  
                                btn-radio="'Stars'" 
                                uncheckable>
                                    Stars
                            </label></th>
                        <th><label 
                                ng-model="repoSortOrder"
                                class="btn btn-default"  
                                btn-radio="'Language'" 
                                uncheckable>
                                    Language
                            </label></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
                        <td><a href="#/repo/{{user.login}}/{{repo.name}}">{{repo.name}}</a></td>
                        <td>{{repo.stargazers_count | number}}</td>
                        <td>{{repo.language}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Gists <span class="badge">{{public_gists}}</span></h3>
            </div>
            <div class="panel-body short">
                <table class="table table-striped">
                    <thead>
                    <tr>
                    <th></th>
                        <th>                            
                            Name
                        </th>
                        <th>
                            Comments
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="gist in gists">
                        <td><span class="glyphicon glyphicon-new-window"></span></td>
                        <td><a href="{{gist.html_url}}" target="_blank">
                            <span ng-hide="gist.description">Untitled</span>
                            {{gist.description}}
                            </a>
                        </td>
                        
                        <td><ng-pluralize count="gist.comments" 
                                            when="{
                                                '0':'0 comments',
                                                '1':'1 comment',
                                                'other':'{} comments'
                                                }">
                            </ng-pluralize>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Followers</h3>
            </div>
            <div class="panel-body short">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="follower in followers">
                        <a href="{{follower.html_url}}" target="_blank">{{follower.login}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Following</h3>
            </div>
            <div class="panel-body short">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="followed in following">
                        <a href="{{followed.html_url}}" target="_blank">{{followed.login}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>